:root {
    --blue: #1e90ff;
    --white: #ffffff;
  }

*{
    margin:0;
    border:border-box;
}
.navbar{
    height:60px;
    background-color: black;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
}
.nav-logo{
    height:50px;
    width:90px;
    color:white;
    
}
.logo{
    background-image:url("1688364329amazon-logo-png-white.png");
background-size: cover;
height: 20px;
width: 70px;
margin-top: 1rem;
margin-left:0.2rem;
    
}
.border{
   border: 2px solid transparent ;
}
.border:hover{
    border: 2px solid white ;
}
.nav-add{
    height:50px;
    width:100px; 
 
}
.add-icon{
    display:flex;
    height:50px;
    width:100px;
    color:white;
}

.fix-align{
    margin-top: 0.4rem;
    margin-left: 0.9rem;
}
.add-first{
font-size: 0.8rem;
color: var(--white);
}
.add-sec{
font-size:1rem;
}
.search{
    display:flex;
    background-color: #febd68;
    width:620px;
    height:40px;
    border-radius: 3px;
    justify-content:space-evenly ;

}
.search:hover{
    border:2px solid #febd68 ;
}
.select-search{
    height:40px;
    background-color: #f3f3f3;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border:none;
    height:40px;
    
}
.input-search{
    
    width:100%;
    font-size:1rem;
    border:none;
}
.icon-search{
    height:40px;
    width: 45px;
    display:flex;
    justify-content: center;
    align-items: center; 
    font-size:1.2rem;   
}

span{
    color:white;
    font-size: 0.7rem;
}
.text-second{
    color:white;
    font-size: 0.8rem;
    font-weight: 700px;
}
.nav-cart{
    color:white;
    font-weight:700px;
}
.nav-cart i{
    font-size:30px;
}

/**panel**/
.panel{
    height:40px;
    background-color:#222f3d;
    color:white;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
} 
.panel-options{
    justify-content:space-evenly;
    width:70%;
    font-size:0.8rem;
}
.panel-options p{
    display:inline;
   margin-right:30px;
}
.panel-last{
    font-size:0.9rem;
}

/**hero**/
.hero{
    background-image: url("hero.jpg");
    height:300px;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items: flex-end;
}
.hero-msg{
    height:30px;
     background-color:white;
     display:flex;
     align-items:center;
    justify-content:center;
    font-size:0.85rem;
    width:95%;
    margin:25px;
}


.content{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background-color:#e2e7e6;
    
}
.box{
    margin-top:5px;
    height:360px;
    width:23%;
    padding: 20px 0px 15px;
   
    background-color:white;
}
.box-image1{
    height:300px;
    background-size:cover;
    margin-top:1rem;
    margin-bottom:1rem;
}
.box-content{
    margin-left:10px;
    margin-right:10px;
}


.footer{
    margin-top:100px;
}

.footer-p1{
    height:30px;
    background-color:#37475a;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:0.85rem;
    margin-top:5px;
}
.footer-p2{
    background-color: #222f3d;
    color:white;
    height: 300px;
    display: flex;
    justify-content:space-evenly;

}
ul{
    margin-top:20px;
}
ul a{
    display: block;
    font-size: 0.85;
    margin-top: 5px;
    color:#dddddd;
}
.foot-p3{
    height:200px;
    background-color: #222f3d;
    color:white;
    border-top: 0.5px solid white;
    height:70px;
    display:flex;
    justify-content:center;
    align-items: center; 
}

.foot-logo{
    background-image:url("1688364329amazon-logo-png-white.png");
    background-size: cover;
    height: 20px;
    width: 70px;
    margin-top:2px;
    
}
.last{
    background-color:#131A22;
    color:white;
    height:60px;
    text-align: center;
    padding-top:20px;
}
.last-second{
    margin-top:5px;
}